# General Settings
MODE=dev
LOGGING_LEVEL=INFO

## Universal Default Chat Model
# DEFAULT_CHAT_MODEL="ollama-cas/ministral-8b-instruct-2410_q4km:latest"

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# LLM API Keys: if you don't have Ollama set up, you need to setup at least one of these.
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
XAI_APIPI_KEY=
XAI_BASE_URL=https://api.x.ai/v1
GOOGLE_API_KEY=
KXN_API_KEY=

# (Optional) Search API Keys
# TAVILY_API_KEY=

# By default, the application will check http://localhost:11434 for an Ollama instance.
OLLAMA_URL=http://host.docker.internal:11434

# Auth
CHAINLIT_AUTH_SECRET=""

# Password Auth
DEFAULT_ADMIN_USER=
DEFAULT_ADMIN_PASSWORD=

# (Optional) OAuth
# See reference: https://docs.chainlit.io/authentication/oauth#google
# OAUTH_GOOGLE_CLIENT_ID=
# OAUTH_GOOGLE_CLIENT_SECRET=

# Postgres Internal Worker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
#Change this to staging to 'postgres' not 'localhost'
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=chainlit_langgraph
POSTGRES_VOLUME_PATH=./volume_dev/postgre
POSTGRES_STAGING_VOLUME_PATH=./volume_staging/postgre/

# MinIO
MINIO_BUCKET=buckets
#Change this to staging to 'minio' not 'localhost'
MINIO_ENDPOINT_URL=http://localhost:9000
MINIO_ROOT_USER=chainlit_langgraph
MINIO_ROOT_PASSWORD=chainlit_langgraph
MINIO_VOLUME_PATH=./volume_dev/minio
MINIO_STAGING_VOLUME_PATH=./volume_staging/minio

# LangSmith for LLM Ops
# LANGCHAIN_API_KEY=
# LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
# LANGCHAIN_TRACING_V2="true"
# LANGCHAIN_PROJECT="chainlit_langgraph_chatbot"
OPENSEARCH_URL=
OPENSEARCH_PASSWORD=
OPENSEARCH_USER=
OPENSEARCH_VECTOR_INDEX=
OPENSEARCH_PROMPT_INDEX=

# HIVE
HIVE_HOST=
HIVE_PORT=
HIVE_USERNAME=
HIVE_SCHEMA=

# POSTGRE FOR DATA ANALYSIS
POSTGRE_DS_HOST=
POSTGRE_DS_PORT=
POSTGRE_DS_USERNAME=
POSTGRE_DS_PASSWORD=
POSTGRE_DS_SCHEMA=

